{
	"rules": {
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"space-before-function-paren": [
			2,
			{
				"anonymous": "always",
				"named": "never"
			}
		],
		"no-use-before-define": [
			2,
			"nofunc"
		],
		// TODO: turn on later
		"comma-dangle": [
			0
		],
		"arrow-body-style": [
			0
		],
		// TODO: Turn on later
		"no-unused-vars": [
			0
		],
    "no-else-return": [
			0
		],
    "no-tabs": [
			0
		],
		"no-console": [
			0
		],
    "max-len": [
			0
		],
    "no-underscore-dangle": [
      0
    ]
	},
	"env": {
		"node": true,
		"mocha": true
	},
	"extends": [
		"eslint:recommended",
		"airbnb/base"
	]
}
